<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de citations</title>
</head>
<body>
    <h1>Formulaire de citations</h1>

    <form action="/register" method="get">
        <div>
            <label for="name">Auteur :</label>
            <input type="text" id="auteur" name="auteur">
        </div>
        <div>
            <label for="msg">citation :</label>
            <textarea id="msg" name="citation"></textarea>
        </div>
        <div class="button">
            <button type="submit">Enregistrer la citation</button>
        </div>
    </form>

</body>
</html>
